<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="nav">
      <li><a href="/">Shop</a></li>
      <li><a href="/admin/add-product">Products</a></li>
    </nav>
    <main>
      <form action="/admin/add-product" method="POST">
        <label for="model">Model</label>
        <input type="text" name="model" />
      </br>
      <label for="image">Image</label>
        <input type="file" name="image"/>
    </br>
        <label for="price">Price</label>
        <input type="text" name="price" />
    </br>
        <label for="title">Title</label>
        <input type="text" name="title" />
  </br>
        <button type="submit" id="Button">Add product</button>
      </form>
    </main>
  </body>
</html>
